layout: index
description: VeraInView viewer for VERAin simulation files
subtitle: Visualize With VeraInView
comments: false
---

// div#intro-get-started-wrap
//
  a(href="/VeraInView/app", id="intro-get-started-link") Try out VeraInView (Stable)
    br
    br
    img(style="padding-left: 25px",src="https://img.shields.io/badge/npm package-1.0.0-green.svg")
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;

div#intro-get-started-wrap
  a(href="/VeraInView/nightly", id="intro-get-started-link") Try out VeraInView (Latest)
    br
    br
    img(style="padding-left: 25px",src="https://badge.fury.io/js/VeraInView.svg")

ul#intro-feature-list(style="position:relative;top:-50px;")
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://github.com/CASL/VeraInView/releases").link Releases
      p.intro-feature-desc
        span.
          VeraInView is a standalone Web application that visualizes the geometry from VERAin simulation input files. The&nbsp;
        a(href="users_guide/") user's guide
        span.
          &nbsp;can get you started.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-info
      h3.intro-feature-title
        a(href="https://www.casl.gov/").link CASL
      p.intro-feature-desc Provided by the Consortium for Advanced Simulation of Light Water Reactors. A DOE Energy Innovation Hub.
